body{
    font-family: 'Montserrat', sans-serif;
}

.text-secondary{
    color: #2c3e50;
}

.text-white{
    color: white;
}

.row{
    margin: 0;
}

/* Hamburger-menu */

.bg-primary{
    background-color: #1abc9c;
}

.navbar-default .navbar-toggle{
    border-color: #1abc9c;
}

.navbar-default .navbar-toggle:hover{
    background-color: #148f77;
    border-color: #148f77;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-toggle > span {
    display: inline-block;
    color: white;
    font-weight: 700;
    vertical-align: middle;
}


/* Header Navbar */

.navbar-default.navbar.navbar-fixed-top {
    border: 0;
    background-color: #2c3e50;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand a{
    padding-top: 0;
    padding-bottom: 0;
}

#mainnav .navbar-brand{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

.navbar-default .navbar-nav > li > a{
    font-size: 16px;
    color: white;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: #1abc9c;
}

/* Section start masthead */

.masthead{
    padding-top: calc(96px + 74px);
    padding-bottom: 96px;
}

.masthead .masthead-avatar{
    width: 240px;
}

.masthead .masthead-heading{
    font-size: 34px;
    line-height: 44px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

.masthead .divider-custom-line {
    background-color: #fff;
    display: inline-block;
    height: 4px;
    width: 70px;
    border-radius: 2px;
}

.masthead .fas {
    font-weight: 900;
    font-size: 30px;
    margin: 0 15px;
    vertical-align: -10px;
}

.masthead .masthead-subheading{
    font-size: 20px;
    margin-top: 25px;
}

.font-weight-light {
    font-weight: 200;
}

/* Portfolio */

.page-section{
    padding: 96px 0;
}

.page-section .page-section-heading {
    font-size: 36px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-star{
    margin-bottom: 30px;
}

.page-section .divider-custom-line {
    background-color: #2c3e50;
    display: inline-block;
    height: 4px;
    width: 70px;
    border-radius: 2px;
}

.page-section .fa-star {
    font-weight: 900;
    font-size: 30px;
    margin: 0 15px;
    vertical-align: -10px;
    color: #2c3e50;
}

#portfolio img{
    max-width: 312px;
    width: 100%;
}

.portfolio-card{
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}

.portfolio-card:hover::before{
    background-color: rgba(26, 188, 156, 0.9);
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 6px;
}

.portfolio-card:hover::after{
    display: block;
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}


/* About */

.about{
    padding-top: 76px;
    padding-bottom: 76px;
}

.about .about-heading{
    font-size: 44px;
    line-height: 44px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

.about .divider-custom-line {
    background-color: #fff;
    display: inline-block;
    height: 4px;
    width: 70px;
    border-radius: 2px;
}

.about .fas {
    font-weight: 900;
    font-size: 30px;
    margin: 0 15px;
    vertical-align: -10px;
}

.margin{
    margin-top: 30px;
}

.about .about-paragrafo{
    font-size: 20px;
    margin-top: 25px;
}

.btn-outline-light {
    border: 2px solid #f8f9fa;
    padding: 20px 15px;
}

.about .fa-download{
    font-size: 20px;
    vertical-align: middle;
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

/* Contact */

.contact{
    padding: 96px 0;
}

.contact .contact-heading {
    font-size: 36px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact .divider-custom-line {
    background-color: #2c3e50;
    display: inline-block;
    height: 4px;
    width: 70px;
    border-radius: 2px;
}

.contact .fas {
    font-weight: 900;
    font-size: 30px;
    margin: 0 15px;
    vertical-align: -10px;
    color: #2c3e50;
}

.form-control{
    padding: 30px 12px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #e9ecef;
    border-radius: 0;
}

.special-form{
    padding: 60px 12px;
}

.form-control:focus {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #e9ecef;
}

textarea {
    resize: none;
}

.btn-primary{
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    padding: 20px 25px;
}

.contact .btn:hover{
    background-color: #148f77;
    border-color: #148f77;
}

/* Footer */

.footer{
    background-color: #2c3e50;
    padding-top: 76px;
    padding-bottom: 76px;
}

.footer h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

.footer p{
    font-size: 18px;
    font-weight: 300;
}

.box-social{
    display: inline-block;
}

.menu-social{
    list-style: none;
    margin: 0px;
    padding: 8px 0px 0px 0px;
}

.menu-social li{
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu-social li a{
    display: block;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    min-height: 52px;
    min-width: 52px;
    margin: 3px;
    border-radius: 50%;
    font-size: 20px;
    border: 2px solid white;
}

.menu-social li a:hover{
    color: #212529;
    background-color: white;
    border-color: #f8f9fa;
}

.footer .link-footer{
    color: #1abc9c;
}

.footer .link-footer:hover{
    color: #117964;
    cursor: pointer;
}

/* Copyright */

.copyright{
    background-color: #1a252f;
    padding: 24px 0;
}

.copyright .text-copyright{
    font-size: 12.8px;
    margin: auto;
    color: white;
    font-weight: 400;
}

@media (min-width: 768px) {

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important; /* per sovrascrivere l'important di bootstrap */
    }

    .navbar-brand a{
        padding-top: 0;
        padding-bottom: 0;
    }

    #mainnav .navbar-brand{
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 25px;
    }

    .masthead .masthead-heading{
        font-size: 44px;
        line-height: 44px;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .masthead .divider-custom-line {
        background-color: #fff;
        display: inline-block;
        height: 4px;
        width: 100px;
        border-radius: 2px;
    }

    .page-section .divider-custom-line {
        background-color: #2c3e50;
        display: inline-block;
        height: 4px;
        width: 100px;
        border-radius: 2px;
    }

    .about .divider-custom-line {
        background-color: #fff;
        display: inline-block;
        height: 4px;
        width: 100px;
        border-radius: 2px;
    }

    .contact .divider-custom-line {
        background-color: #2c3e50;
        display: inline-block;
        height: 4px;
        width: 100px;
        border-radius: 2px;
    }

    #portfolio img{
        max-width: 100%;
    }
}


@media (min-width: 992px) {

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-collapse.collapse {
        display: block !important; /* per sovrascrivere l'important di bootstrap */
    }

    .masthead .masthead-heading{
        font-size: 64px;
    }

}
